@model AirlineTicketsApp.Entities.Flight

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TakeOffDestination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TakeOffDestination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LandingDestination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LandingDestination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TakeOffTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TakeOffTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LandingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LandingTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plane)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plane.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountPercentage)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
